@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Montserrat&display=swap');

:root{
    --text-clr: black;
    --text-accent: grey;
    --basic-clr: #FFFBD7;
    --accent-clr1: #a9def9;
    --accent-clr2: #CA72FF;

}

body {
    font-family: 'Gluten', cursive;
    margin: 0;
    background-color: var(--basic-clr);
}

header a{
    display: flex;
    text-align: center;
    align-items: center;
    gap: .6em;
    text-decoration: none;
    color: var(--text-clr);
}

header {
    margin: 1em 1em 0 1em;
}


header:hover{
    cursor: pointer;
}

.hero-bg {
    text-align: center;
}


h1 {
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}

h1 span {
    display: block;
}


/* !!------------------------ notepad ↓↓↓↓ ----------------------!! */
/* ------------------------------------------------------------------ */


h2{
    font-size: .8rem;
    color: var(--text-accent);
}


.notepad {
    position: relative;
    background-color: white;
    padding: 2rem 0 2rem 0;
    margin: 3em 1em 1em 1em;

    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom: solid var(--text-accent) .4rem;
    border-right: solid var(--text-accent) .3rem;    
}


/* ----------------------- WIRE SPIRAL - ↓↓↓↓↓↓↓------------------------ */

.wire-spiral{
    width: 100%;
    position: absolute;
    top: 0;
}

.wires{
    position: absolute;
    top: -.8rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 1;
}

.wire{
    background-color: var(--text-clr);
    width: .3rem;
    height: 1.5rem;
    border-radius: .5rem;
}

.holes{
    position: absolute;
    top: .25rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.hole{
    border-radius: 45%;
    border: solid .15em;
    background-color: white;
    width: .4rem;
    height: .4rem;
}


--------------------------------

form{
    text-align: left;
    margin: 0 1em 1em 1em;
}

.new-password{
    margin: 1rem 0;
}

.confirm-password {
    margin: 2em 0;
}

.type-area input{
    font-family: 'Gluten', cursive;
    box-sizing: border-box;
    background-color: var(--accent-clr1); 
    color: var(--text-clr);
    border-radius: .5em;
    width: 90%; 
    height: 2.3em;
    padding: 0 .3rem;
} 




/* ----------------------------------------------------------- */
/*!! ----------------- notepad - END ---------------------!! */



button {
    background-color: var(--accent-clr1);
    color: var(--text-accent);
    font-family: 'Gluten', cursive;
    font-size: 1.1rem;
    
    border-radius: .7em;
    height: 2.2rem;

    margin: 2em 2em;
    margin-inline: auto;
    padding: 0 2rem;
    
    cursor: pointer; 
    display: block;
    border: none;
}


button:hover, button:focus {
    color: var(--text-clr);
}


@media(min-width: 600px){

    body{
        background-color: var(--basic-clr);
    }
    .hero-bg {
        margin-top: auto;
        margin-bottom: auto;
        background-color: var(--basic-clr);
        margin-inline: auto;
        max-width: 400px;

    }

}