@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Montserrat&display=swap');

:root{
    --text-clr: black;
    --text-accent: grey;
    --basic-clr: #FFFBD7;
    --accent-clr1: #a9def9;
    --accent-clr2: #CA72FF;

}

* {
    font-family: 'Gluten', cursive;
    margin: 0;
    background-color: var(--basic-clr);
    box-sizing: border-box;
}

header a{
    display: flex;
    text-align: center;
    align-items: center;
    gap: .6em;
    text-decoration: none;
    color: var(--text-clr);
}

header {
    margin: 1em 1em 0 1em;
}


header:hover{
    cursor: pointer;
}

.hero-bg {
    text-align: center;
}


h1 {
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}

h1 span {
    display: block;
}

.notepad{
    text-align: center;
}

h3{
    font-weight: 200;
    font-size: 1rem;
}

form{       
    margin: 0 1em 1em 1em;
}

.type-area input{
    box-sizing: border-box;
    background-color: transparent; 

    border: solid var(--accent-clr1) .3rem;
    border-radius: .5em;
    width: 90%; 
    height: 2.5em;
} 

.field_1{
    margin-top: 1rem;
}


/* ----------------------------------------------------------- */
/*!! ----------------- notepad - END ---------------------!! */



button {
    background-color: var(--accent-clr2);
    color: white;
    font-family: 'Gluten', cursive;
    font-size: 1.1rem;
    text-align: center;
    
    border-radius: .7em;
    height: 2.2rem;

    margin: 2rem 0;
    
    padding: 5px 50px;
    
    cursor: pointer; 
    border: none;
}


button:hover, button:focus {
    color: black;
}


@media(min-width: 600px){

    body{
        background-color: var(--basic-clr);
    }
    .hero-bg {
        margin-top: auto;
        margin-bottom: auto;
        background-color: var(--basic-clr);
        margin-inline: auto;
        max-width: 400px;

    }

}